<div class="proyectos-container">
  <div class="header-flex">
    <h1>Mis Proyectos</h1>
    <button class="btn-primary" routerLink="crear">+ Nuevo Proyecto</button>
  </div>

  <div class="table-card">
    <table *ngIf="proyectos.length > 0; else noData">
      <thead>
        <tr>
          <th>Título</th>
          <th>Estado</th>
          <th>Presupuesto</th>
          <th>Propuestas</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of proyectos">
          <td><strong>{{ p.titulo }}</strong></td>
          <td><span [class]="'badge badge-' + p.estado.toLowerCase()">{{ p.estado }}</span></td>
          <td>{{ p.presupuesto | currency:'GTQ' }}</td>
          <td>{{ p.totalPropuestas }}</td>
          <td>
            <button class="btn-outline" [routerLink]="['detalle', p.id]">Ver</button>
            <button class="btn-outline" [routerLink]="['editar', p.id]" style="margin-left: 5px;">📝</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noData>
      <p style="text-align: center; color: #95a5a6;">No has publicado proyectos aún.</p>
    </ng-template>
  </div>
</div>
