<div class="filtros">
  <input
    type="text"
    [(ngModel)]="busqueda"
    (input)="emitirFiltros()"
    [cite_start]placeholder="Buscar por título o descripción...">

  <select [(ngModel)]="filtroCategoria" (change)="emitirFiltros()">
    <option value="">-- Todas las categorías --</option>
    <option *ngFor="let cat of categorias" [value]="cat.id">
      {{ cat.nombre }}
    </option>
  </select>

  <select [(ngModel)]="filtroPresupuesto" (change)="emitirFiltros()">
    <option value="">-- Todos los presupuestos --</option>
    <option value="0-1000">0 - 1,000 GTQ</option>
    <option value="1000-5000">1,000 - 5,000 GTQ</option>
    <option value="5000-10000">5,000 - 10,000 GTQ</option>
    <option value="10000+">10,000+ GTQ</option>
  </select>
</div>
